.admin-product{
    width: 85vw;
    height: 100vh;
    float: right;
    display:flex;
}
.product-layout{
    margin: auto;
    width: 100%;
    height: 100%;
    display:block;
    background-color: #7ed6df;
}
.product-button{
    top: 0px;
    width: 100%;
    height: 10vh;
    right: 0px;
    display: contents;
}
.product-button-button{
    float:right;
}
.product-button-icon{
    width: 50px;
    height: 50px;
    margin-right: 1wv;
    width: fit-content;
    padding-right: 1wv;
}
.product-list{
    width: auto;
    height: auto;
}
.product-feature-button{
    width: 100px;
    height: 50px;
    border-radius: 10%;
    background-color: #eb4d4b;
    text-align: center;
}
.product-title{
    height: 15vh;
    width: 100%;
    background-color: #686de0;
    text-align: left;

}
.product-title-text{
    margin-top: auto;
    font-size: 30px;
    font-weight: 600;

}
.product-button-button{
    left: 0px;
    margin-right: 3vw;
}
.table-product{
    width: 100%;
    height: 100%;
}
.product-list-item{
    height: 30px;
    width: 100%;
    border: #000000;
    background-color: #95afc0;
    padding-bottom: 5px;
}
.table-product{
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}
#product th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #000;
    color: #fff;
}
#product th, td{
    border: 1px solid #fff;
    padding: 8px;
}
.product-page-button{
    width: auto;
    height: 35px;
    float: right;
}
.product-page-input{
    width: 100px;
    height: 35px;
    float: right;
    font-size: 16px;
    text-align: center;
}
.product-selection{
    width: 200px;
    height: 30px;
    float: left;
    font-size: 16px;
}
.product-item-icon{
    height: 25px;
    width: 25px;
}