USE [Store]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 12/4/2021 9:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[id] [varchar](50) NOT NULL,
	[iduser] [int] NOT NULL,
	[tongtien] [int] NOT NULL,
	[ngaydat] [date] NOT NULL,
	[diachinhan] [nvarchar](300) NOT NULL,
	[phuongthucthanhtoan] [nvarchar](30) NOT NULL,
	[tinhtrang] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillDetail]    Script Date: 12/4/2021 9:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetail](
	[idBill] [varchar](50) NOT NULL,
	[idProduct] [varchar](50) NOT NULL,
	[soluong] [int] NOT NULL,
	[tongtien] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idBill] ASC,
	[idProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartDetail]    Script Date: 12/4/2021 9:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartDetail](
	[idUser] [int] NOT NULL,
	[idProduct] [varchar](50) NOT NULL,
	[soluong] [int] NOT NULL,
	[tongtien] [int] NOT NULL,
	[selected] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idUser] ASC,
	[idProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 12/4/2021 9:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[id] [varchar](20) NOT NULL,
	[name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeadphoneDetail]    Script Date: 12/4/2021 9:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeadphoneDetail](
	[idProduct] [varchar](50) NOT NULL,
	[kieutainghe] [nvarchar](50) NULL,
	[ketnoi] [nvarchar](50) NULL,
	[kieuketnoi] [nvarchar](100) NULL,
	[microphone] [nvarchar](30) NULL,
	[kieupin] [nvarchar](50) NULL,
	[kichthuocdriver] [nvarchar](30) NULL,
	[led] [nvarchar](30) NULL,
	[khoiluong] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[idProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 12/4/2021 9:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nameImage] [nvarchar](100) NOT NULL,
	[typeImage] [nvarchar](20) NULL,
	[position] [nvarchar](20) NULL,
	[path] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KeyboardDetail]    Script Date: 12/4/2021 9:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KeyboardDetail](
	[idProduct] [varchar](50) NOT NULL,
	[ketnoi] [nvarchar](50) NULL,
	[loai] [nvarchar](50) NULL,
	[den] [nvarchar](50) NULL,
	[motaden] [nvarchar](100) NULL,
	[brandswitch] [nvarchar](50) NULL,
	[typeswitch] [nvarchar](20) NULL,
	[motaswitch] [nvarchar](100) NULL,
	[layout] [int] NULL,
	[size] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LaptopDescription]    Script Date: 12/4/2021 9:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LaptopDescription](
	[idProduct] [varchar](50) NOT NULL,
	[detailcpu] [nvarchar](100) NULL,
	[detailram] [nvarchar](100) NULL,
	[detailvga] [nvarchar](100) NULL,
	[detailmanhinh] [nvarchar](100) NULL,
	[ocung] [nvarchar](100) NULL,
	[kieukhe] [nvarchar](100) NULL,
	[congxuathinh] [nvarchar](100) NULL,
	[congketnoi] [nvarchar](100) NULL,
	[ketnoikhongday] [nvarchar](100) NULL,
	[hdh] [nvarchar](100) NULL,
	[size] [nvarchar](100) NULL,
	[khoiluong] [nvarchar](100) NULL,
	[pin] [nvarchar](100) NULL,
	[typelaptop] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[idProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LaptopDetail]    Script Date: 12/4/2021 9:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LaptopDetail](
	[idProduct] [varchar](50) NOT NULL,
	[cpu] [nvarchar](20) NULL,
	[ram] [nvarchar](20) NULL,
	[vga] [nvarchar](20) NULL,
	[manhinh] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[idProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MouseDetail]    Script Date: 12/4/2021 9:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MouseDetail](
	[idProduct] [varchar](50) NOT NULL,
	[kieuketnoi] [nvarchar](50) NULL,
	[led] [nvarchar](50) NULL,
	[ketnoi] [nvarchar](50) NULL,
	[dophangiai] [nvarchar](50) NULL,
	[thoigianphanhoi] [nvarchar](50) NULL,
	[dangcambien] [nvarchar](50) NULL,
	[kichthuoc] [nvarchar](50) NULL,
	[khoiluong] [nvarchar](40) NULL,
	[sonutbam] [int] NULL,
	[tencambien] [nvarchar](50) NULL,
	[loaichuot] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCDetail]    Script Date: 12/4/2021 9:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCDetail](
	[idProduct] [varchar](50) NOT NULL,
	[typepc] [nvarchar](50) NULL,
	[mainboard] [nvarchar](50) NULL,
	[cputype] [nvarchar](50) NULL,
	[cpu] [nvarchar](50) NULL,
	[detailcpu] [nvarchar](100) NULL,
	[ram] [nvarchar](30) NULL,
	[detailram] [nvarchar](100) NULL,
	[vgatype] [nvarchar](30) NULL,
	[vganame] [nvarchar](50) NULL,
	[psu] [nvarchar](50) NULL,
	[casepc] [nvarchar](100) NULL,
	[cool] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 12/4/2021 9:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [varchar](50) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[gia] [int] NOT NULL,
	[idloai] [varchar](50) NULL,
	[thuonghieu] [nvarchar](20) NULL,
	[namsx] [int] NULL,
	[baohanh] [int] NULL,
	[hienthi] [int] NULL,
	[nameimage] [nvarchar](100) NULL,
	[mau] [nvarchar](20) NULL,
	[tinhtrang] [nvarchar](500) NULL,
	[uudai] [nvarchar](500) NULL,
	[giacu] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScreenDetail]    Script Date: 12/4/2021 9:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScreenDetail](
	[idProduct] [varchar](50) NOT NULL,
	[kichthuoc] [float] NULL,
	[dophangiai] [nvarchar](30) NULL,
	[dophangiaipixel] [nvarchar](30) NULL,
	[tamnen] [nvarchar](30) NULL,
	[tanso] [int] NULL,
	[kieumanhinh] [nvarchar](50) NULL,
	[thoigianphanhoi] [nvarchar](20) NULL,
	[dosang] [nvarchar](30) NULL,
	[gocnhin] [nvarchar](30) NULL,
	[mauhienthi] [nvarchar](30) NULL,
	[bemat] [nvarchar](50) NULL,
	[hdr] [nvarchar](40) NULL,
	[congxuat] [nvarchar](40) NULL,
	[khoiluong] [nvarchar](10) NULL,
	[tile] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[idProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeProduct]    Script Date: 12/4/2021 9:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeProduct](
	[id] [varchar](50) NOT NULL,
	[ten] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/4/2021 9:59:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstname] [nvarchar](100) NOT NULL,
	[lastname] [nvarchar](100) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[pass] [varchar](50) NOT NULL,
	[sdt] [nvarchar](11) NULL,
	[diachi] [nvarchar](100) NULL,
	[mode] [nvarchar](20) NOT NULL,
	[nameimage] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Bill] ([id], [iduser], [tongtien], [ngaydat], [diachinhan], [phuongthucthanhtoan], [tinhtrang]) VALUES (N'9028-928-019', 8, 4000000, CAST(N'2021-12-11' AS Date), N'20/1H', N'Thanh toán khi nhận hàng', N'Chờ xác nhận')
INSERT [dbo].[Bill] ([id], [iduser], [tongtien], [ngaydat], [diachinhan], [phuongthucthanhtoan], [tinhtrang]) VALUES (N'amnsym5dh', 11, 43380000, CAST(N'2021-12-03' AS Date), N'371 Nguyễn Thị Minh Khai', N'Thanh toán khi nhận hàng', N'Đã duyệt')
GO
INSERT [dbo].[BillDetail] ([idBill], [idProduct], [soluong], [tongtien]) VALUES (N'9028-928-019', N'RK61', 2, 2000000)
INSERT [dbo].[BillDetail] ([idBill], [idProduct], [soluong], [tongtien]) VALUES (N'9028-928-019', N'RK837', 1, 1000000)
INSERT [dbo].[BillDetail] ([idBill], [idProduct], [soluong], [tongtien]) VALUES (N'amnsym5dh', N'340s-G7', 2, 43380000)
GO
INSERT [dbo].[CartDetail] ([idUser], [idProduct], [soluong], [tongtien], [selected]) VALUES (9, N'14-3405', 2, 36180000, 1)
INSERT [dbo].[CartDetail] ([idUser], [idProduct], [soluong], [tongtien], [selected]) VALUES (9, N'15-7501', 2, 62180000, 1)
INSERT [dbo].[CartDetail] ([idUser], [idProduct], [soluong], [tongtien], [selected]) VALUES (9, N'5410-2-in-1', 1, 27290000, 1)
GO
INSERT [dbo].[HeadphoneDetail] ([idProduct], [kieutainghe], [ketnoi], [kieuketnoi], [microphone], [kieupin], [kichthuocdriver], [led], [khoiluong]) VALUES (N'AH-318N', N'Over-ear', N'USB 2.0, 3.5 mm', N'Tai nghe có dây', N'Có', NULL, NULL, N'Có', N'74g')
INSERT [dbo].[HeadphoneDetail] ([idProduct], [kieutainghe], [ketnoi], [kieuketnoi], [microphone], [kieupin], [kichthuocdriver], [led], [khoiluong]) VALUES (N'ATH-J100', N'In-ear', N'3.5mm', N'Tai nghe có dây', N'Có', NULL, NULL, NULL, N'74g')
INSERT [dbo].[HeadphoneDetail] ([idProduct], [kieutainghe], [ketnoi], [kieuketnoi], [microphone], [kieupin], [kichthuocdriver], [led], [khoiluong]) VALUES (N'AUK-72891', N'Over-ear', N'3.5mm', N'Tai nghe có dây', N'Có', NULL, N'40 mm', NULL, N'74g')
GO
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([id], [nameImage], [typeImage], [position], [path]) VALUES (15, N'slide1.png', N'slide', N'center', N'/')
INSERT [dbo].[Image] ([id], [nameImage], [typeImage], [position], [path]) VALUES (16, N'slide2.png', N'slide', N'center', N'/')
INSERT [dbo].[Image] ([id], [nameImage], [typeImage], [position], [path]) VALUES (17, N'slide3.png', N'slide', N'center', N'/')
SET IDENTITY_INSERT [dbo].[Image] OFF
GO
INSERT [dbo].[KeyboardDetail] ([idProduct], [ketnoi], [loai], [den], [motaden], [brandswitch], [typeswitch], [motaswitch], [layout], [size]) VALUES (N'AKKOOBlue', N'Bàn phím có dây', N'Bàn Phím cơ', N'RGB', N'RGB( 7 chế độ led)', N'DareU', N'blue', N'Dare-U Blue Switch : Clicky', 108, NULL)
INSERT [dbo].[KeyboardDetail] ([idProduct], [ketnoi], [loai], [den], [motaden], [brandswitch], [typeswitch], [motaswitch], [layout], [size]) VALUES (N'AKKOOrange', N'Bàn phím có dây', N'Bàn Phím cơ', N'RGB', N'RGB( 7 chế độ led)', N'DareU', N'orange', N'Dare-U Orange Switch : Tactile', 108, NULL)
INSERT [dbo].[KeyboardDetail] ([idProduct], [ketnoi], [loai], [den], [motaden], [brandswitch], [typeswitch], [motaswitch], [layout], [size]) VALUES (N'AKKOPink', N'Bàn phím có dây', N'Bàn Phím cơ', N'RGB', N'RGB(7 chế độ led)', N'DareU', N'pink', N'Dare-U Pink Switch : Tactile', 108, NULL)
GO
INSERT [dbo].[LaptopDetail] ([idProduct], [cpu], [ram], [vga], [manhinh]) VALUES (N'14-3405', N'ryzen5', N'8', N'amd', N'14')
INSERT [dbo].[LaptopDetail] ([idProduct], [cpu], [ram], [vga], [manhinh]) VALUES (N'14-5406', N'corei7', N'8', N'NVIDIA', N'14')
INSERT [dbo].[LaptopDetail] ([idProduct], [cpu], [ram], [vga], [manhinh]) VALUES (N'14-bf016TU', N'corei3', N'4', N'intel', N'14')
GO
INSERT [dbo].[MouseDetail] ([idProduct], [kieuketnoi], [led], [ketnoi], [dophangiai], [thoigianphanhoi], [dangcambien], [kichthuoc], [khoiluong], [sonutbam], [tencambien], [loaichuot]) VALUES (N'CH-9301111-AP', N'Chuột có dây', N'RGB', N'USB 2.0', N'12000DPI', N'1ms', N'Optical', N'115.5(L) x 68.3(W) x 40.4(H) mm', N'85 g', 6, N'PMW3389', N'Chuột Gaming')
INSERT [dbo].[MouseDetail] ([idProduct], [kieuketnoi], [led], [ketnoi], [dophangiai], [thoigianphanhoi], [dangcambien], [kichthuoc], [khoiluong], [sonutbam], [tencambien], [loaichuot]) VALUES (N'G102White', N'Chuột có dây', N'RGB', N'USB 2.0', N'80000DPI', N'1ms', N'Optical', N'11.66 x 6.215 x 3.82 cm', N'85 g', 6, NULL, N'Chuột Gaming')
INSERT [dbo].[MouseDetail] ([idProduct], [kieuketnoi], [led], [ketnoi], [dophangiai], [thoigianphanhoi], [dangcambien], [kichthuoc], [khoiluong], [sonutbam], [tencambien], [loaichuot]) VALUES (N'G302BLACK', N'Chuột có dây', N'RGB', N'USB 2.0', N'40000DPI', N'1ms', N'Optical', N'11.66 x 6.215 x 3.82 cm', N'87 g', 6, NULL, N'Chuột Gaming')
GO
INSERT [dbo].[PCDetail] ([idProduct], [typepc], [mainboard], [cputype], [cpu], [detailcpu], [ram], [detailram], [vgatype], [vganame], [psu], [casepc], [cool]) VALUES (N'AS-XC780', N'PC văn phòng,PC thường', N'Acer', N'Intel', N'Intel corei5', N'Intel Core i5-7400 ( 3.0 GHz - 3.5 GHz / 6MB / 4 nhân, 4 luồng )', N'4GB', N'1 x 4GB DDR4 2666MHz ( 2 Khe cắm Hỗ trợ tối đa 32GB )', N'NVIDIA', N'Intel HD Graphics 630 / GeForce GT 720 2GB', NULL, NULL, NULL)
INSERT [dbo].[PCDetail] ([idProduct], [typepc], [mainboard], [cputype], [cpu], [detailcpu], [ram], [detailram], [vgatype], [vganame], [psu], [casepc], [cool]) VALUES (N'Assassin-M', N'PC gaming đồ họa', N'Mainboard ASUS PRIME A320M-E', N'AMD', N'Ryzen3', N'AMD Ryzen 3 3200G / 6MB / 4.0GHz / 4 nhân 4 luồng / AM4', N'8GB', N'(8GB DDR4 1x8G 2666) Ram Gigabyte Memory 2666', N'NVIDIA', N'GIGABYTE GeForce GTX 1050 Ti D5 4GB', N'Nguồn CoolerMaster MWE 400 Bronze - V2 230V', N'XIGMATEK NYX 3F RGB', NULL)
INSERT [dbo].[PCDetail] ([idProduct], [typepc], [mainboard], [cputype], [cpu], [detailcpu], [ram], [detailram], [vgatype], [vganame], [psu], [casepc], [cool]) VALUES (N'AXE-M', N'PC Gaming đồ họa thiết Kế', N'GIGABYTE H510M S2H (rev. 1.0)', N'Intel', N'Corei3', N'Intel Core i3 10100F / 6MB / 4.3GHZ / 4 nhân 8 luồng / LGA 1200', N'8GB', N'(8GB DDR4 1x8G 2666) Ram Gigabyte Memory 2666', N'NVIDIA', N'PALIT GeForce GT 710 2GB DDR3 (NEAT7100HD46-2080F', N'Nguồn CoolerMaster MWE 400 Bronze - V2 230V', N'XIGMATEK NYX 3F RGB', NULL)
GO
INSERT [dbo].[Product] ([id], [ten], [gia], [idloai], [thuonghieu], [namsx], [baohanh], [hienthi], [nameimage], [mau], [tinhtrang], [uudai], [giacu]) VALUES (N'14-3405', N'Laptop Dell Vostro ( AMD Ryzen 5 3500U | 8GB | AMD Radeon Vega 8 Graphics | 14")', 18090000, N'laptop', N'Dell', 2020, 1, 1, N'14-3405.png', NULL, NULL, N'Phần mềm Diệt Virus , Microsoft Office chính hãng chỉ từ 50k', 20090000)
INSERT [dbo].[Product] ([id], [ten], [gia], [idloai], [thuonghieu], [namsx], [baohanh], [hienthi], [nameimage], [mau], [tinhtrang], [uudai], [giacu]) VALUES (N'14-5406', N'Laptop Dell Inspiron ( Core i7-1165G7 | 8GB | NVIDIA GeForce MX330 2GB GDDR5 | 14")', 26690000, N'laptop', N'Dell', 2021, 1, 0, N'14-5406.png', NULL, NULL, N'Phần mềm Diệt Virus , Microsoft Office chính hãng chỉ từ 50k', 24690000)
INSERT [dbo].[Product] ([id], [ten], [gia], [idloai], [thuonghieu], [namsx], [baohanh], [hienthi], [nameimage], [mau], [tinhtrang], [uudai], [giacu]) VALUES (N'14-bf016TU', N'Laptop HP Pavilion (Core i3-7100U | 4GB | Intel HD Graphics 620 |14")', 11490000, N'laptop', N'HP', 2019, 1, 1, N'14-bf016TU.png', NULL, NULL, N'Phần mềm Diệt Virus , Microsoft Office chính hãng chỉ từ 50k', 12490000)
GO
INSERT [dbo].[ScreenDetail] ([idProduct], [kichthuoc], [dophangiai], [dophangiaipixel], [tamnen], [tanso], [kieumanhinh], [thoigianphanhoi], [dosang], [gocnhin], [mauhienthi], [bemat], [hdr], [congxuat], [khoiluong], [tile]) VALUES (N'27MK600M-B', 27, N'FHD', N'1920x1080', N'IPS', 75, N'Màn hình phẳng', N'1ms', N'250 cd/m2', N'90 (H) / 50 (V)', N'16.7 triệu màu', N'Màn hình chống lóa', NULL, N'1 x HDMI , 1 x VGA/D-sub', N'4.8 kg', N'16:9')
INSERT [dbo].[ScreenDetail] ([idProduct], [kichthuoc], [dophangiai], [dophangiaipixel], [tamnen], [tanso], [kieumanhinh], [thoigianphanhoi], [dosang], [gocnhin], [mauhienthi], [bemat], [hdr], [congxuat], [khoiluong], [tile]) VALUES (N'E1916HV', 18.5, N'HD', N'1366x768', N'LED', 60, N'Màn hình phẳng', N'5ms', N'250 cd/m2', N'90 (H) / 65 (V)', N'16.7 triệu màu', N'Màn hình chống lóa', NULL, N'1 x VGA/D-sub', N'3 kg', N'16:9')
INSERT [dbo].[ScreenDetail] ([idProduct], [kichthuoc], [dophangiai], [dophangiaipixel], [tamnen], [tanso], [kieumanhinh], [thoigianphanhoi], [dosang], [gocnhin], [mauhienthi], [bemat], [hdr], [congxuat], [khoiluong], [tile]) VALUES (N'E2016HV', 19.5, N'HD+', N'1600x900', N'TN LED', 75, N'Màn hình phẳng', N'5ms', N'250 cd/m2', N'170 (H) / 160 (V)', N'16.7 triệu màu', N'Màn hình chống lóa', NULL, N'1 x VGA/D-sub', N'3.02 kg', N'16:9')
GO
INSERT [dbo].[TypeProduct] ([id], [ten]) VALUES (N'headphone', N'Tai Nghe')
INSERT [dbo].[TypeProduct] ([id], [ten]) VALUES (N'keyboard', N'Bàn phím')
INSERT [dbo].[TypeProduct] ([id], [ten]) VALUES (N'laptop', N'Laptop (Máy tính xách tay)')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [firstname], [lastname], [email], [pass], [sdt], [diachi], [mode], [nameimage]) VALUES (8, N'Hải', N'Tường', N'tuonghai.contact@gmail.com', N'tuonghai2022', N'0777741340', N'20/1H ấp chánh 2', N'ADMIN', N'tuonghaiavatar.png')
INSERT [dbo].[Users] ([id], [firstname], [lastname], [email], [pass], [sdt], [diachi], [mode], [nameimage]) VALUES (9, N'Đạt', N'Quốc', N'quocdat@gmail.com', N'123123123', N'0392392071', N'1231321313', N'STAFF', N'quocdatavatar.png')
INSERT [dbo].[Users] ([id], [firstname], [lastname], [email], [pass], [sdt], [diachi], [mode], [nameimage]) VALUES (10, N'Thanh', N'Hòa', N'lth.contact@gmail.vn', N'thanhhoa2021', N'01222941261', N'371 Nguyễn Văn Cừ', N'CUSTOMER', N'thanhhoaavatar.png')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT (N'Thanh toán khi nhận hàng') FOR [phuongthucthanhtoan]
GO
ALTER TABLE [dbo].[Bill] ADD  DEFAULT (N'Chờ xác nhận') FOR [tinhtrang]
GO
ALTER TABLE [dbo].[CartDetail] ADD  DEFAULT ((1)) FOR [selected]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((1)) FOR [hienthi]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('CUSTOMER') FOR [mode]
GO
ALTER TABLE [dbo].[Bill]  WITH CHECK ADD FOREIGN KEY([iduser])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[BillDetail]  WITH CHECK ADD FOREIGN KEY([idBill])
REFERENCES [dbo].[Bill] ([id])
GO
ALTER TABLE [dbo].[CartDetail]  WITH CHECK ADD FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[HeadphoneDetail]  WITH CHECK ADD FOREIGN KEY([idProduct])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[KeyboardDetail]  WITH CHECK ADD FOREIGN KEY([idProduct])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[LaptopDescription]  WITH CHECK ADD FOREIGN KEY([idProduct])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[LaptopDetail]  WITH CHECK ADD FOREIGN KEY([idProduct])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[MouseDetail]  WITH CHECK ADD FOREIGN KEY([idProduct])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[PCDetail]  WITH CHECK ADD FOREIGN KEY([idProduct])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([idloai])
REFERENCES [dbo].[TypeProduct] ([id])
GO
ALTER TABLE [dbo].[ScreenDetail]  WITH CHECK ADD FOREIGN KEY([idProduct])
REFERENCES [dbo].[Product] ([id])
GO
