USE [master]
GO
/****** Object:  Database [Laptop]    Script Date: 11/1/2021 8:18:30 PM ******/
CREATE DATABASE [Laptop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Laptop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Laptop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Laptop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Laptop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Laptop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Laptop]
GO
/****** Object:  Table [dbo].[ChitietDonHang]    Script Date: 11/1/2021 8:18:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChitietDonHang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[iddonhang] [int] NULL,
	[idsanpham] [varchar](50) NULL,
	[soluong] [int] NULL,
	[tongtien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChitietGioHang]    Script Date: 11/1/2021 8:18:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChitietGioHang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idgiohang] [int] NULL,
	[idsanpham] [varchar](50) NULL,
	[soluong] [int] NULL,
	[tongtien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailKeyBoard]    Script Date: 11/1/2021 8:18:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailKeyBoard](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idsanpham] [varchar](50) NULL,
	[ketnoi] [nvarchar](20) NULL,
	[loai] [nvarchar](20) NULL,
	[den] [nvarchar](20) NULL,
	[switch] [nvarchar](20) NULL,
	[phimchucnang] [nvarchar](20) NULL,
	[size] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 11/1/2021 8:18:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[iduser] [int] NULL,
	[tongtien] [int] NULL,
	[ngaydat] [date] NULL,
	[ngayhuydon] [date] NULL,
	[phuongthucthanhtoan] [nvarchar](30) NULL,
	[tinhtrang] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 11/1/2021 8:18:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[iduser] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 11/1/2021 8:18:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nameImage] [nvarchar](100) NULL,
	[typeImage] [nvarchar](20) NULL,
	[position] [nvarchar](20) NULL,
	[path] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 11/1/2021 8:18:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[id] [varchar](50) NOT NULL,
	[ten] [nvarchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MoTaLaptop]    Script Date: 11/1/2021 8:18:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MoTaLaptop](
	[idsanpham] [varchar](50) NOT NULL,
	[detailcpu] [nvarchar](100) NULL,
	[detailram] [nvarchar](100) NULL,
	[detailvga] [nvarchar](100) NULL,
	[detailmanhinh] [nvarchar](100) NULL,
	[ocung] [nvarchar](100) NULL,
	[kieukhe] [nvarchar](100) NULL,
	[congxuathinh] [nvarchar](100) NULL,
	[congketnoi] [nvarchar](100) NULL,
	[ketnoikhongday] [nvarchar](100) NULL,
	[hdh] [nvarchar](100) NULL,
	[size] [nvarchar](100) NULL,
	[khoiluong] [nvarchar](100) NULL,
	[pin] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[idsanpham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/1/2021 8:18:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[id] [varchar](50) NOT NULL,
	[ten] [nvarchar](100) NOT NULL,
	[gia] [int] NOT NULL,
	[idloai] [varchar](50) NULL,
	[thuonghieu] [nvarchar](20) NOT NULL,
	[namsx] [int] NOT NULL,
	[baohanh] [int] NOT NULL,
	[hienthi] [int] NOT NULL,
	[nameimage] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongSoLaptop]    Script Date: 11/1/2021 8:18:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongSoLaptop](
	[idsanpham] [varchar](50) NOT NULL,
	[cpu] [nvarchar](20) NULL,
	[ram] [nvarchar](20) NULL,
	[vga] [nvarchar](20) NULL,
	[manhinh] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[idsanpham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/1/2021 8:18:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nameuser] [nvarchar](100) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[pass] [varchar](50) NOT NULL,
	[sdt] [nvarchar](11) NOT NULL,
	[diachi] [nvarchar](100) NOT NULL,
	[gioitinh] [nvarchar](10) NOT NULL,
	[position] [nvarchar](20) NULL,
	[nameimage] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([id], [nameImage], [typeImage], [position], [path]) VALUES (2, N'slideshow2.png', N'slide', N'center', N'/')
INSERT [dbo].[Image] ([id], [nameImage], [typeImage], [position], [path]) VALUES (3, N'slideshow3.png', N'slide', N'center', N'/')
INSERT [dbo].[Image] ([id], [nameImage], [typeImage], [position], [path]) VALUES (4, N'slideshow4.png', N'slide', N'center', N'/')
SET IDENTITY_INSERT [dbo].[Image] OFF
GO
INSERT [dbo].[LoaiSanPham] ([id], [ten]) VALUES (N'laptop', N'Laptop (Máy tính xách tay)')
GO
INSERT [dbo].[SanPham] ([id], [ten], [gia], [idloai], [thuonghieu], [namsx], [baohanh], [hienthi], [nameimage]) VALUES (N'14-3405', N'Laptop Dell Vostro', 18090000, N'laptop', N'Dell', 2020, 1, 1, N'14-3405.png')
INSERT [dbo].[SanPham] ([id], [ten], [gia], [idloai], [thuonghieu], [namsx], [baohanh], [hienthi], [nameimage]) VALUES (N'14-5406', N'Laptop Dell Inspiron', 26690000, N'laptop', N'Dell', 2021, 1, 0, N'14-5406.png')
INSERT [dbo].[SanPham] ([id], [ten], [gia], [idloai], [thuonghieu], [namsx], [baohanh], [hienthi], [nameimage]) VALUES (N'14-bf016TU', N'Laptop HP Pavilion', 11490000, N'laptop', N'HP', 2019, 1, 1, N'14-bf016TU.png')
GO
INSERT [dbo].[ThongSoLaptop] ([idsanpham], [cpu], [ram], [vga], [manhinh]) VALUES (N'14-3405', N'ryze?n', N'8', N'', N'14')
INSERT [dbo].[ThongSoLaptop] ([idsanpham], [cpu], [ram], [vga], [manhinh]) VALUES (N'14-5406', N'corei7', N'8', N'NVIDIA', N'14')
INSERT [dbo].[ThongSoLaptop] ([idsanpham], [cpu], [ram], [vga], [manhinh]) VALUES (N'14-bf016TU', N'corei3', N'4', N'', N'14')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [nameuser], [email], [pass], [sdt], [diachi], [gioitinh], [position], [nameimage]) VALUES (4, N'Tường Hải', N'tuonghai.admin@gmail.com', N'tuonghai2021', N'0777741340', N'20/1H', N'Nam', N'admin', N'tuonghaiavatar.jpg')
INSERT [dbo].[Users] ([id], [nameuser], [email], [pass], [sdt], [diachi], [gioitinh], [position], [nameimage]) VALUES (5, N'Quốc Đạt', N'quocdat.staff@gmail.com', N'quocdat2021', N'0392392071', N'201/1 An Duong Vuong', N'Nữ', N'staff', N'quocdatavatar.jpg')
INSERT [dbo].[Users] ([id], [nameuser], [email], [pass], [sdt], [diachi], [gioitinh], [position], [nameimage]) VALUES (6, N'Chí Định', N'chidinh.customer@gmail.com', N'chidinh2021', N'0239812931', N'201/1 quận 4', N'Nữ', N'customer', N'chidinhavatar.jpg')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (NULL) FOR [ngayhuydon]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (N'Thanh toán khi nhận hàng') FOR [phuongthucthanhtoan]
GO
ALTER TABLE [dbo].[DonHang] ADD  DEFAULT (N'Chờ xác nhận') FOR [tinhtrang]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((1)) FOR [hienthi]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('CUSTOMER') FOR [position]
GO
ALTER TABLE [dbo].[ChitietDonHang]  WITH CHECK ADD FOREIGN KEY([iddonhang])
REFERENCES [dbo].[DonHang] ([id])
GO
ALTER TABLE [dbo].[ChitietDonHang]  WITH CHECK ADD FOREIGN KEY([idsanpham])
REFERENCES [dbo].[SanPham] ([id])
GO
ALTER TABLE [dbo].[ChitietGioHang]  WITH CHECK ADD FOREIGN KEY([idgiohang])
REFERENCES [dbo].[GioHang] ([id])
GO
ALTER TABLE [dbo].[ChitietGioHang]  WITH CHECK ADD FOREIGN KEY([idsanpham])
REFERENCES [dbo].[SanPham] ([id])
GO
ALTER TABLE [dbo].[DetailKeyBoard]  WITH CHECK ADD FOREIGN KEY([idsanpham])
REFERENCES [dbo].[SanPham] ([id])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([iduser])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([iduser])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[MoTaLaptop]  WITH CHECK ADD FOREIGN KEY([idsanpham])
REFERENCES [dbo].[SanPham] ([id])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([idloai])
REFERENCES [dbo].[LoaiSanPham] ([id])
GO
ALTER TABLE [dbo].[ThongSoLaptop]  WITH CHECK ADD FOREIGN KEY([idsanpham])
REFERENCES [dbo].[SanPham] ([id])
GO
USE [master]
GO
