.section-heading {
  margin-top: 10px;
}
.section-heading .line-dec {
  width: 30px;
  height: 5px;
  background-color: #3a8bcd;
}
.section-heading h1 {
  font-size: 30px;
  font-weight: 700;
  color: #1e1e1e;
  margin-top: 15px;
}
.slides li img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.clo {
  background-color: white;
}
.imgsl {
  float: left;
  width: 40%;
  background: white;
}

.imagesPro {
  margin-left: 0px;
  float: left;
  width: 72%;
  background-color: white;
  padding-left: 0;
}
.ship {
  border-bottom: 1px dashed rgb(221, 221, 221);
  width: 100%;
  height: auto;
  padding: 0 10px 0 26px;
}
.ttchung {
  width: auto;
  height: auto;
}
.shipfree {
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0 10px 0;
  height: 25px;
  line-height: 25px;
  color: #16d945;
}
.ship img {
  float: left;
  padding-right: 10px;
}
.tops {
  padding: 0 0 1px 15px;
  margin-bottom: 10px;
  width: 100%;
}
.single-product .product-slider {
  border-bottom: 1px dashed rgb(221, 221, 221);
  border-radius: 5px;
}
.flexslider {
  border: none;
}
#carousel {
  margin: 10px 10px;
}
#carousel .slides li {
  padding-right: 10px;
  float: left;
  width: 70px !important;
}
.bdbt {
  border-bottom: 1px dashed #d6d6d6 !important;
}
.single-product .right-content h4 {
  font-size: 22px;
  font-weight: 500;
  margin: 20px 10px 15px 0;
}

.single-product .right-content span {
  font-size: 14px;
  color: #3a8bcd;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 15px;
}

.single-product .right-content label {
  font-size: 14px;
  color: #4a4a4a;
}
.ttdetail {
  padding-top: 20px;
}
.colors {
  background-color: white !important;
}
.thuonghieuL {
  width: 126%;
  margin-right: 15px;
}

.thuonghieuR p {
  margin-right: 15px;
}
.tt {
  font-size: 15px;
}
.tt-price {
  font-size: 30px;
  color: #1435cf;
  font-weight: 700;
  margin: 50px 0 10px 0;
}
.tt-sales {
  margin: 50px 0 20px 0;
  font-size: 20px;
  font-weight: 700;
}
.details-rights {
  float: right;
  padding: 0 10px 10px 10px;
  width: 27%;
  height: auto;
  margin-left: 0 !important;
}
.chinhsachbh {
  padding: 20px 0 0 0;
}

.chinhsachbh img {
  margin-right: 10px;
  float: left;
}

.fm {
  margin-bottom: 20px;
}
.detailright-t {
  font-size: 15px;
  font-weight: 400;
  margin: 0 0 0 34px;
  height: 25px;
  line-height: 25px;
}
.font-cs {
  margin-bottom: 20px;
  font-size: 20px !important;
  font-weight: 500 !important;
}
.detail-pro {
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  padding-left: 0;
}
.detail-pro p {
  font-size: 14px;
  font-weight: 400;
  padding: 1rem 1rem 0rem 1rem;
}
.gift {
  height: auto;
  background-color: rgb(250, 250, 250);
  border: solid 1px rgb(221, 221, 221) !important;
  border-radius: 10px;
  padding: 15px 15px;
  width: 115%;
  margin-bottom: 20px;
}
.gift img {
  padding-right: 18px;
  float: left;
  width: 10%;
}
.gift p {
  font-size: 15px;
  font-weight: 400;
  height: 25px;
  line-height: 28px;
}
.button-gr {
  width: 115%;
}
.btn-buy {
  height: 45px;
  margin-right: 13px;
  width: 48.5%;
  background-color: #1230b0;
}
.btn-cart {
  border-color: #1230b0;
  height: 45px;
  color: rgb(0, 0, 235);
  width: 48.5%;
  background-color: white;
}
.bt-if {
  margin: 700px 0 0 0;
}
.info-detail {
  /* background-color: #16d945; */
  width: 60%;
  height: 500px;
}
.info-detail p {
  width: 100%;
}
.tb-ifdetail {
  width: 39%;
}
.fn-ttif th {
  width: 20%;
  font-size: 13px;
}
.fn-ttif td {
  width: 50%;
  font-size: 14px;
}
.thongso-kt {
  margin: 20px 0 35px 0;
}
.thongso-kt p {
  font-size: 21px;
  font-weight: 500;
}
.line-if {
  float: left;
  width: 4px;
  height: 22px;
  background-color: #000000;
  margin-right: 5px;
}

/* .single-product .right-content .quantity-text {
  margin-left: 10px;
  width: 44px;
  height: 44px;
  line-height: 42px;
  font-size: 14px;
  font-weight: 700;
  color: #4a4a4a;
  display: inline-block;
  text-align: center;
  outline: none;
  border: 1px solid #eee;
} */

/* .single-product .right-content .down-content span {
  margin-bottom: 0px;
  display: inline-block;
  margin-left: 8px;
  color: #aaa;
}
.single-product .right-content .down-content span a {
  color: #aaa;
  font-weight: 400;
  margin-left: 4px;
  transition: all 0.5s;
}
.single-product .right-content .down-content span a:hover {
  color: #3a8bcd;
}
.single-product .right-content .down-content span a:hover i {
  background-color: #3a8bcd;
}
.single-product .right-content .down-content span a i {
  transition: all 0.5s;
  background-color: #aaa;
  width: 26px;
  height: 26px;
  display: inline-block;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  margin-right: 5px;
} */
