.product-add{
    width: 100%;
    height: 100%;
    display: float;
}
.product-add-form{
    width: 70%;
    height: 80vh;
    background-color: #dfe6e9;
    display: grid;
    margin: 32px 45px;
    overflow: auto;
}
.produt-add-title{
    font-size: 30px;
    font-weight: 400;
    background-color: #ffeaa7;  
}
.product-add-item{
    width: 100%;
    height: 2vw;
    display: inline;
    padding-bottom: 2px;
    background-color: #74b9ff;
    font-size: 16px;
}
.product-add-label{
    text-align: left;
}
.product-add-input{
    width: 70%;
    height: 1vw;
    margin: auto;
}
.product-edit-title{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
    line-height: 20px;
    color: #333;
}
.product-input-form{
    display: block;
    overflow: auto;
}
.product-input-subtitle{
    margin-bottom: 30px;
    font-size: 18px;
}
.input-form{
    display:block;
    height: 100%;
    overflow: auto;
}
.input-form-item{
    display: flex;
    width: 80vw;
    height: 30px;
    margin-bottom: 12px;
}
.input-form-label{
    flex-basis: 166px;
    width: 166px;
    font-size: 16px;
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    font-weight: 400;
    padding-right: 24px;
    text-align: right;
}
.input-form-input{
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-table;
    font-size: 14px;
    background-color: #fff;
    border-collapse: separate;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    outline: none;
    transition: border .2s;
}
.input-input{
    height: 100%;
    width: 100%;
}
.product-edit-page{
    height: 100%;
    width: 100%;
    overflow: auto;
}
.product-button-page1{
    margin-right: 11%;
    float: right;
    height: 40px;
    width: 170px;
    font-size:16px;
    color: white;
    background-color: #ff7675;
    border-radius: 7px;
}
.page-hide{
    display: none;
}

