* {
  margin: 0;
  padding: 0;
}
.billInfo {
  padding: 20px;
  background-color: #edeef2;
}
.Bill{
  display: flex;
  flex-flow: column;
}
.container-bill {
  background-color: white;
  padding: 20px 20px;
  min-height: 400px;
  padding: 20px 15px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-family: Roboto, "Helvetica Neue";
}
.centerTitle-bill {
  padding-top: 20px;
  display: flex;
  flex-flow: row;
  width: 100%;
  gap: 10px;
}
.center-bill p {
  font-size: 15px;
}
.title-donhang {
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 10px;
}
.idorder {
  width: 15%;
}
.productOrder {
  width: 30%;
}
.Totalprice {
  width: 10%;
}
.note {
  width: 25%;
}
.row-idOrder {
  width: 10%;
}
.row-pro {
  width: 25%;
}
.col {
  font-size: 15px;
}
.row-sltt {
  width: 10%;
}
.title-bill {
  padding-bottom: 20px;
}
.title-bill img {
  float: left;
  width: 3%;
}
.title-bill p {
  height: 31px;
  font-size: 20px;
  font-weight: 500;
  line-height: 31px;
}
/* .info-bill {
  font-size: 15px;
} */
