* {
  margin: 0;
  padding: 0;
}
.billInfo {
  padding: 20px;
  background-color: #f8f8fc;
}
.Bill {
  display: flex;
  flex-flow: column;
}
.container-bill {
  background-color: white;
  padding: 20px 20px;
  min-height: 45rem;
  padding: 20px 15px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-family: Roboto, "Helvetica Neue";
}
.centerTitle-bill {
  padding-top: 20px;
  display: flex;
  flex-flow: row;
  width: 100%;
  gap: 10px;
}
.center-bill p {
  font-size: 15px;
}
.title-donhang {
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 10px;
}
.table-bill {
  /* background-color: #e6ffe6; */
}
.title-bills {
  color: white;
  background-color: #4252bd;
}
.row-idOrder {
  width: 10%;
}
.row-pro {
  width: 30%;
}
.cols {
  font-size: 17px;
}
.row-sltt {
  width: 12%;
}
/* .title-bill {
  padding-bottom: 20px;
} */
.title-bill img {
  float: left;
  width: 3%;
}
.title-bill p {
  height: 31px;
  font-size: 20px;
  font-weight: 500;
  line-height: 31px;
}
/* .info-bill {
  font-size: 15px;
} */
.thongtinsanpham {
  float: left;
}
.row-address {
  width: 30%;
}
.info-proDetail {
  display: flex;
  flex-flow: column;
}
.id-bill {
  font-size: 13px;
  font-weight: bold;
  color: rgb(6, 6, 189);
}
.info-productInBill {
  font-size: 14px;
  font-weight: 400;
}
.bill-thanhtien {
  font-weight: 500;
}
.bill-price {
  font-weight: 500;
  color: rgb(207, 7, 7);
}
