.width {
  width: 85%;
}
.centerp {
  background-color: white;
}
.centerp {
  width: 100%;
  height: 30rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.product-none {
  padding: 0 50px 0 50px;
  width: 44%;
  height: auto;
  margin: 0 auto;
}
.product-none p {
  margin-top: 5px;
  color: red;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  font-weight: 400;
}
.product-none img {
  width: 7%;
  float: left;
}
.btn-backhome {
  margin-top: 20px;
}
.btn-home:hover {
  box-shadow: 1px 1px 5px 5px rgb(212, 212, 212);
  transition: all 0.3s ease-in-out;
}
.page {
  width: 100% !important;
  height: auto !important;
  background-color: #edeef2;
}
.title-cart {
  margin: 30px 0 20px 0;
  width: 100%;
  height: auto;
}
.title-cart strong {
  font-size: 25px;
}
.center-card {
  margin-bottom: 20px;
  background-color: white;
  display: flex;
}
.carts {
  width: 70%;
  border-radius: 5px;
  background-color: white;
  margin: 0 0 20px 0;
  display: flex;
  flex-flow: column;
}
.info-chitiet {
  display: flex;
}
.info-cart {
  padding: 20px 15px;
  width: 100%;
}
.info-image {
  display: block;
  flex: 0 0 66.66%;
  max-width: 66.66%;
}
.img-name {
  display: flex;
  gap: 12px;
}
.img-name a {
  flex: 0 0 15%;
}
.imag {
  cursor: pointer;
  width: 100%;
}
.id-item {
  margin-top: 5px;
}
.name a {
  font-size: 13px;
  font-weight: 380;
  color: black;
  margin-bottom: 15px;
}
.name a:hover {
  color: #1435c3;
}
.payment {
  background-color: white;
  width: 30%;
  padding: 20px 15px;
}
.thanhtoan {
  padding-bottom: 10px;
  font-size: 21px;
}
.tamtinh-thanhtien {
  font-size: 15px;
  padding-bottom: 10px;
}
.btn-pay {
  background-color: #1435c3;
  color: white;
  width: 100%;
  font-size: 18px;
}
.info-editquantity {
  display: flex;
}
/* .btnedit {
  border-radius: none !important;
} */
.input-edit {
  width: 18%;
  padding: 6px 5px;
  border-radius: none !important;
}
.info-price strong {
  color: #1435c3;
}
