.width {
  width: 85%;
}
.centerp {
  background-color: white;
}
.centerp {
  width: 100%;
  height: 30rem;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.product-none {
  padding: 0 50px 0 50px;
  width: 44%;
  height: auto;
  margin: 0 auto;
}
.product-none p {
  margin-top: 5px;
  color: red;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  font-weight: 400;
}
.product-none img {
  width: 7%;
  float: left;
}
.btn-backhome {
  margin-top: 20px;
}
.btn-home:hover {
  box-shadow: 1px 1px 5px 5px rgb(212, 212, 212);
  transition: all 0.3s ease-in-out;
}
.page {
  width: 100% !important;
  height: auto !important;
  background-color: #edeef2;
}
.title-cart {
  margin: 30px 0 20px 0;
  width: 100%;
  height: auto;
}
.title-cart strong {
  font-size: 25px;
}
.center-card {
  margin-bottom: 20px;
  background-color: white;
  display: flex;
}
.carts {
  width: 70%;
  border-radius: 5px;
  background-color: white;
  margin: 0 0 20px 0;
  display: flex;
  flex-flow: column;
}
.info-chitiet {
  display: flex;
}
.info-cart {
  padding: 20px 15px;
  width: 100%;
}
.info-image {
  padding-left: 10px;
  display: block;
  flex: 0 0 66.66%;
  max-width: 66.66%;
}
.img-name {
  display: flex;
  gap: 12px;
}
.img-name a {
  flex: 0 0 15%;
}
.info-price{
  padding-top: 5px;
}
.info-price strong{
  font-size: 17px;
}
.imag {
  border: 1px solid #ebebeb;
  cursor: pointer;
  width: 100%;
}
.id-item {
  margin-top: 5px;
}
.name{
  width: 80%;
}
.name a {
  font-size: 14px;
  font-weight: 380;
  color: black;
  margin-bottom: 15px;
}
.name a:hover {
  color: #1435c3;
}
.payment {
  background-color: white;
  width: 30%;
  padding: 20px 15px;
}
.thanhtoan {
  padding-bottom: 10px;
  font-size: 21px;
}
.tamtinh-thanhtien {
  width: 100%;
  float: left;
  font-size: 15px;
  padding-bottom: 10px;
}
.tamtinh-thanhtien p{
  float: left;
}
.tamtinh{
  color: red;
  font-size: 17px;
  font-weight: bold;
  width: 73%;
  text-align: right;
}
.thanhtien {
  font-size:23px;
  font-weight: bold;
  color: #0000ee;
  width: 73%;
  text-align: right;
}
.txt-left{
  width:27%;
}
.btn-pay {
  background-color: #1435c3;
  color: white;
  width: 100%;
  font-size: 18px;
}
.info-editquantity {
  padding-right: 20px;
  height:36px;
  display: flex;
flex-flow: column;
}
.pay-info{
  padding-top: 30px;
}
.input-edit {
  width: 18%;
  padding: 6px 5px;
  border-radius: none !important;
}

.info-editquantity button {
  width: 32%;
  height:32px;
  border: none;
  background-color: #fcfcfc !important;
}
.finput-edit{
  background-color: #fcfcfc;
  text-align: center;
  width:36%;
  height:34px;
  border: none;
}
.center-logo{
  background-color: white;
  width: 100%;
  padding: 10px 20px;
  border-bottom: solid 1px #ebebeb;
}
.center-logo img{
  padding-left: 10px;
  width: 15%;
}
.check-item{
  padding: 20px;
  cursor: pointer;
}
input[type=checkbox] {
  transform: scale(1.5);
}
.info-check{
  margin-top:auto;
  margin-bottom:auto;
}
.payment-sum{
  text-align:center;
  width:auto;
  height:50px;
}
.payment-sum strong{
  float:left;
}
.payment-sum p{
  float: right;
  font-weight: 700;
  font-size:20px;
  color:#37449F;
  
}
.btn-quantity{
  width:72%;
  border: 1px solid #ebebeb;
  border-radius: 4px;
}
.delet{
  width: 41%;
  padding-top: 10px;
  margin: 0 auto;
}
.delet button{
 width: auto;
 color: blue;
  background-color: white !important;
}