* {
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.header-hide {
  display: none;
}
.header-item {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
}
.header-top {
  width: 100%;
  padding: 0 10%;
  background-color: #4252bd;
  display: flex;
  flex-direction: row-reverse;
  transition: 0.2s;
}
.header-top-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  height: 43px;
  text-decoration: none;
}
.header-top-item-icon {
  font-size: 20px;
  margin-right: 5px;
}
.home {
  align-items: center;
  display: flex;
  text-decoration: none;
}
.logo {
  font-size: 20px;
  color: #e2f208;
}
.lappee-name {
  font-size: 30px;
  color: #e2f208;
  font-weight: 500;
}
.header-center-container {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #596ce5;
}
.header-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 0 10%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #596ce5;
  z-index: 10;
}
.header-center-scroll {
  width: 100%;
  padding: 13px 10%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #596ce5;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}
.header-center-left {
  display: flex;
  align-items: center;
  margin-right: 100px;
}
.panel-search-product {
  position: relative;
  margin-left: 30px;
  display: flex;
  align-items: center;
}
.header-center-left-dropdown {
  height: 40px;
  display: flex;
  align-items: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #ffffff;
  border: none;
  padding: 0 10px;
  font-weight: 490;
  font-size: 14px;
}
.input-search-product {
  outline: none !important;
  height: 40px;
  border: none !important;
  width: 300px;
  font-size: 14px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-left: 10px;
}
.button-search-product {
  border: none;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#button-search-product-icon {
  font-size: 18px;
  margin-right: 5px;
}
.header-center-right {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
.header-bottom {
  width: 100%;
  padding: 7px 10%;
  margin: 0 auto;
  background-color: #596ce5;
  transition: 0.2s;
}
.header-bottom-item {
  padding: 2px 0;
  height: auto;
  display: flex;
  font-size: 12px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}
.header-bottom-item-menu {
  display: flex;
  justify-content: left !important;
  padding-left: 2px;
}
.header-bottom-item-img {
  width: 30px;
  margin-right: 11px;
  height: 30px;
  border-radius: 50%;
}
.header-center-right-menu-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 15px;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.header-center-right-menu-item-icon {
  font-size: 27px;
  color: #ffffff;
  margin-right: 5px;
}
.login-text {
  text-align: left;
}
.avatar {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  margin-right: 9px;
}
#drop-user {
  margin-left: 4px;
}
#quantity-bill-user {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  padding: 4px 5px;
  color: #ffffff;
  font-size: 11px;
  font-weight: 500;
  top: -10px;
  left: 32px;
}
#quantity-cartdetails-user {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  padding: 4px 5px;
  color: #ffffff;
  font-size: 11px;
  font-weight: 500;
  top: -10px;
  left: 32px;
}
