* {
  padding: 0;
  margin: 0;
}
.header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.header-item {
  width: 80%;
  height: auto;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
}
.header-top {
  width: 100%;
  padding: 0 10%;
  background-color: #4252bd;
  display: flex;
  flex-direction: row-reverse;
  transition: 0.2s;
}
.header-top-hide {
  opacity: 0;
}
.header-top-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  height: 43px;
  text-decoration: none;
}
.header-top-item-icon {
  font-size: 20px;
  margin-right: 5px;
}
.home {
  align-items: center;
  display: flex;
  text-decoration: none;
}
.logo {
  font-size: 20px;
  color: #e2f208;
}
.lappee-name {
  font-size: 30px;
  color: #e2f208;
  font-weight: 500;
}
.header-center {
  width: 100%;
  padding: 13px 10%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #596ce5;
  z-index: 10;
}
.header-center-scroll {
  width: 100%;
  padding: 13px 10%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #596ce5;
  z-index: 10;
  position: fixed;
  transition: 0.5s;
  top: 0;
  left: 0;
}
.header-center-left {
  display: flex;
  align-items: center;
  margin-right: 100px;
}
.panel-search-product {
  position: relative;
  margin-left: 30px;
  display: flex;
  align-items: center;
}
.header-center-left-dropdown {
  height: 40px;
  display: flex;
  align-items: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #ffffff;
  border: none;
  padding: 0 10px;
  font-weight: 490;
  font-size: 14px;
}
.input-search-product {
  outline: none !important;
  height: 40px;
  border: none !important;
  width: 300px;
  font-size: 14px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  padding-left: 10px;
}
.button-search-product {
  border: none;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#button-search-product-icon {
  font-size: 18px;
  margin-right: 5px;
}
.header-center-right {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
.header-bottom {
  width: 100%;
  padding: 0 10%;
  margin: 0 auto;
  background-color: #596ce5;
  transition: 0.2s;
}
.header-bottom-hide {
  opacity: 0;
  width: 100%;
  transition: 0.2;
  margin: 0 auto;
  background-color: #596ce5;
}
.header-bottom-item {
  padding: 2px 0;
  height: auto;
  display: flex;
  font-size: 12px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}
.header-bottom-item-menu {
  display: flex;
  justify-content: left !important;
  padding-left: 2px;
}
.header-bottom-item-img {
  width: 30px;
  margin-right: 11px;
  height: 30px;
  border-radius: 50%;
}
.header-center-right-menu-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 15px;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.header-center-right-menu-item-icon {
  font-size: 27px;
  color: #ffffff;
  margin-right: 5px;
}
.login-text {
  text-align: left;
}
.avatar {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  margin-right: 9px;
}
#drop-user {
  margin-left: 4px;
}
.quanlity-data-user {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  padding: 4px 5px;
  color: #ffffff;
  font-size: 11px;
  font-weight: 500;
  top: -10px;
  left: 32px;
}
.quanlity-data-user-disable {
  position: absolute;
  opacity: 0;
}
.user-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px 5px;
  align-items: center;
  background-color: #eeeee4;
  box-shadow: #f8f8fc 2px;
  color: #000000;
  width: 300px;
  transition: 0.5s;
  height: auto;
}
.user-menu-hide {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  top: 40px;
  right: 0;
  transition: 0.5s;
}
.user-menu-avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin-bottom: 10px;
}
.user-menu-button {
  border: none;
  outline: none;
  border-radius: 4px;
  text-align: center;
  width: 100%;
  background-color: #3f4fc3;
  padding: 10px 0;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 10px;
}
.user-menu-button::after {
  margin-bottom: 10px;
}
.user-menu-login-text {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
.user-menu-input {
  width: 100%;
  outline: none;
  border: 0.1px solid #dfdfe0;
  border-radius: 3px;
  box-sizing: border-box;
  padding-left: 8px;
  height: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}
.user-menu-page {
  display: block;
}
.user-menu-page-hide {
  display: none;
}
.change-pass {
  display: block;
}
.user-menu-info {
  display: grid;
}
.user-info-item {
  display: table;
}
.user-info-item {
  display: inline;
}
.user-info-lable-item {
  text-align: center;
  font-weight: bold;
  color: #3f51b5;
}
.user-info-label {
  float: left;
  font-size: 16px;
  color: #000000;
}
.user-menu-label {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}
