.keyboard-container{
    text-align: center;
}
.keyboard-panel{
    width:87%;
    margin: 0 auto;
    height: auto;
    background-color: #FFFFFF;
    margin-top: 30px;
    border-radius: 10px;
    
}
.keyboard-panel-header{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.keyboard-panel-header::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 5px;
    top:-5px;
    background-color: #3f4fc3;
}
.keyboard-panel-header-logo{
    background-color:#3f4fc3;
    width: max-content;
    height: 30px;
    padding: 0 20px;
    color : #FFFFFF;
    font-weight : 500;
    font-size: 20px;
    position: relative;
    display: flex;
    align-items: center;
}
.keyboard-panel-header-logo::before{
    position: absolute;
    content:'';
    top: 0;
    left: -20px;
    box-sizing: border-box;
    width: 20px;
    bottom: 0;
    border-left: 20px solid #FFFFFF;
    border-top: 30px solid #3f4fc3;
    background-color: #3f4fc3;
}
.keyboard-panel-header-logo::after{
    position: absolute;
    content:'';
    top: 0;
    right : -20px;
    box-sizing: border-box;
    width: 20px;
    bottom: 0;
    border-right: 20px solid #FFFFFF;
    border-top: 30px solid #3f4fc3;
    background-color: #3f4fc3;
}
.keyboard-item{
    width: auto;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.keyboard-image{
    width: 100%;
    height: auto;
}
.keyboard-image-img{
    width: 100%;
    max-width: 100%;
    height: auto;
    transform: scale(85%);
    margin-top: 20px;
}
.keyboard-detail-item{
    padding: 2px 30px;
    display: flex;
    justify-content: space-between;
    color : black;
}
.keyboard-id{
    font-size: 13px;
}
.keyboard-name{
    font-size: 13px;
    line-height: 1.40;
    height: 37px;
    overflow: hidden;
}
.keyboard-name:hover{
    color: #3f4fc3;
}
.keyboard-price{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.keyboard-price-value{
    color: #3f4fc3;
    font-size: 16px;
    font-weight: 600;
}