.keyboard-panel {
  width: 80%;
  margin: 0 auto;
  height: auto;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 30px;
  text-align: center;
  padding-bottom: 37px;
}
.keyboard-row {
}
.keyboard-panel-header {
  position: relative;
  width: 100%;
  display: flex;
}
.keyboard-panel-header-logo {
  font-size: 24px;
}
.keyboard-item {
  width: auto;
  cursor: pointer;
  padding: 7px 7px;
}
.keyboard-infor {
  box-shadow: 0 0 5px 1px #42424446;
  border-radius: 10px;
}
.keyboard-image {
  width: 100%;
  height: 258px;
}
.keyboard-image-img {
  width: 100%;
  max-width: 100%;
  height: auto;
  transform: scale(85%);
  margin-top: 20px;
  margin-top: 20px;
}
.keyboard-detail-item {
  padding: 2px 30px;
  display: flex;
  justify-content: space-between;
  color: black;
}
.keyboard-id {
  font-size: 13px;
}
.keyboard-name {
  font-size: 13px;
  line-height: 1.44;
  height: 37px;
  overflow: hidden;
  text-align: left;
}
.keyboard-name:hover {
  color: #3f4fc3;
}
.keyboard-price {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.keyboard-price-value {
  color: #3f4fc3;
  font-size: 16px;
  font-weight: 600;
}
