.container10Col{
    width: 100%;
    display: block;
    padding:0 ;
}
.container10Col.wide{
    /* max-width: 1300px; */
    margin: 0 auto;
}
.row-10{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.row-10-no-margin{
    display: flex;
    flex-wrap: wrap;
}
.row-10--NoWrap{
    flex-wrap: nowrap;
    overflow: hidden;
}
.col-10{
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}
.col-10-no-padding{
    box-sizing: border-box;
}
.c-10-2{
    flex:0 0 20%;
    max-width: 20%;
}
