.container12Col {
  width: 100%;
  display: block;
}
.container12Col.wide {
  max-width: 1320px;
  margin: 0 auto;
}
.row-12 {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}
.row-12-flex-row-reverse {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.row-12-no-margin {
  display: flex;
  flex-wrap: wrap;
}
.row-12--NoWrap {
  flex-wrap: nowrap;
  /* overflow: hidden; */
}
.col {
  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 8px;
}
.col-no-padding {
  box-sizing: border-box;
}
.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}
.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}
.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}
.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}
.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}
.c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}
.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}
.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
.course {
  background-color: chartreuse;
}
