.main-page {
  height: auto;
  padding-top: 10px;
}
.main-panel {
  width: 87%;
  height: auto;
}
.main-panel-menu {
  height: 368px;
  background-color: #edeef2;
  padding: 0 6px;
}
.main-panel-menu-list {
  background-color: #ffffff;
  height: 100%;
}
.main-panel-image-row {
  height: 100%;
}
.main-panel-image-center {
  height: 100%;
  padding: 0 6px;
}
.main-panel-image-left {
}
.main-image {
  height: 100%;
  width: auto;
  overflow: hidden;
  position: relative;
  display: flex;
}
.main-image-item {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.button-slide {
  background-color: #ffffff;
  opacity: 0.3;
  position: absolute;
  border-radius: 5px;
  transform: translate(0, -50%);
}
.button-slide:hover {
  opacity: 1;
}
.button-slide-icon {
  color: rgb(185, 7, 7);
  font-size: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.previous-slide {
  left: 20px;
  top: 50%;
  width: 37px;
  height: 57px;
}
.next-slide {
  right: 20px;
  top: 50%;
  width: 37px;
  height: 57px;
}
