.main-page {
  height: auto;
  padding-top: 10px;
}
.main-panel {
  width: 80%;
  height: auto;
}
.main-panel-menu {
  height: auto;
  background-color: #ffffff;
  padding: 0 10px;
  position: relative;
}
.main-panel-menu-list {
  background-color: #ffffff;
  box-shadow: -5px 4px 10px 0 rgb(226, 225, 225);
  height: 100%;
}
.select-panel {
  background-color: #ffffff;
  width: 100%;
  position: absolute;
  left: 117%;
  top: 0;
  height: 100%;
  z-index: 20;
  transition: 0.2s;
  opacity: 0;
  box-shadow: -1px 0 10px 0 rgb(141, 139, 139);
}
.select-panel-row {
  height: 100%;
}
.select-panel-center {
  padding: 14px 20px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
}
.select-panel-col {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 260px;
}
.select-panel-col-title {
  color: #3f4fc3 !important;
  font-weight: 500;
}
.select-panel-col-item {
  padding: 5px 30px;
  font-size: 13px;
  line-height: 1.33;
  color: rgb(82, 80, 80);
}
.select-panel-right-img{
  max-width: 100%;
}
.pro-list {
  width: 15%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.pro-list-item {
  text-decoration: none;
  color: rgb(95, 93, 93);
  text-align: left;
  padding: 7px 15px;
  display: flex;
  align-items: center;
  position: relative;
}
.pro-list-item:hover {
  background-color: #3f4fc3;
}
/* .pro-list-item::after{
  position: absolute;
  content: '';
  left: 100%;
  top : 0 ;
  width: 30px;
  height: 100%;
  border-right: 30px #ffffff solid;
  opacity: 0;
  border-top : 34px solid #3f4fc3;
  background-color: #3f4fc3;
  z-index: 30;
} */
.pro-list-item:hover::after{
  opacity: 1;
}
.menu-list-item:hover .select-panel{
  opacity: 1;
  left: 100%;
  width: 500%;
}
.pro-list-item:hover .pro-list-item-icon {
  color: #ffffff;
}
.pro-list-item:hover .pro-list-item-text {
  color: #ffffff;
}
.pro-list-item-icon {
  color: rgb(121, 121, 121);
  font-size: 20px;
}
.pro-list-item-text {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding-left: 12px;
}
.main-image-row {
  height: 100%;
}
.main-image-center {
  height: 100%;
  padding: 0 6px;
}
.center-image-slider {
  height: 100%;
  display: flex;
}
.center-image {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.center-image-item {
  position: relative;
  width: 100%;
}
.center-image-item-img {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.button-slide {
  z-index: 1;
  background-color: #ffffff;
  opacity: 0.3;
  position: absolute;
  border-radius: 5px;
  transform: translate(0, -50%);
}
.button-slide:hover {
  opacity: 1;
}
.button-slide-icon {
  color: rgb(185, 7, 7);
  font-size: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.previous-slide {
  left: 20px;
  top: 50%;
  width: 37px;
  height: 57px;
}
.next-slide {
  right: 20px;
  top: 50%;
  width: 37px;
  height: 57px;
}
.image-right-item {
  width: 100%;
  height: 50%;
  padding: -4px 0;
  transition: 0.4s;
}
.main-image-right {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.image-right-img {
  height: 100%;
  width: 100%;
}
.main-image-item {
  height: 357px;
}
.dat-said{
  color: red;
  font-size: 20px;
  margin-top: 30px;
}