.main-page {
  height: auto;
  padding-top: 10px;
}
.main-panel {
  width: 87%;
  height: auto;
}
.main-panel-menu {
  height: auto;
  background-color: #edeef2;
  padding: 0 6px;
}
.main-panel-menu-list {
  background-color: #ffffff;
  height: 100%;
}
.main-image-row {
  height: 100%;
}
.main-image-center {
  height: 100%;
  padding: 0 6px;
}
.center-image-slider{
  height: 100%;
  display: flex;
}
.center-image{
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
.center-image-item{
  position: relative;
  width: 100%;
}
.center-image-item-img{
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.button-slide {
  z-index: 1;
  background-color: #ffffff;
  opacity: 0.3;
  position: absolute;
  border-radius: 5px;
  transform: translate(0, -50%);
}
.button-slide:hover {
  opacity: 1;
}
.button-slide-icon {
  color: rgb(185, 7, 7);
  font-size: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.previous-slide {
  left: 20px;
  top: 50%;
  width: 37px;
  height: 57px;
}
.next-slide {
  right: 20px;
  top: 50%;
  width: 37px;
  height: 57px;
}
.image-right-item{
  width: 100%;
  height: 50%;
  padding: -4px 0;
}
.main-image-right{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.image-right-img{
  height: 100%; 
  width: 100%;
}
.main-image-item{
  height: 355px;
}



