* {
  margin: 0;
  padding: 0;
}
.order {
  background-color: #edeef2;
}
.container-order {
  padding: 20px 15px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  font-family: Roboto, "Helvetica Neue";
}
/* .center-order {
  display: flex;
} */
.center-order {
  display: flex;
}
.info-orderDataUser {
  height: auto;
}
.info-orderUser {
  background-color: white;
  float: left;
  width: 65%;
  min-height: 470px;
}
.info-orderPro {
  display: flex;
  flex-flow: column;
  margin-left: 10px;

  float: right;
  width: 34%;
}
.info-orderRight {
  width: 100%;
}
.info-ordertitle {
  background-color: white;
  padding: 10px;
}
.info-ordertitle p {
  font-size: 18px;
  font-weight: 400;
  color: rgb(5, 5, 219);
}
.info-orderDataUser {
  float: left;
  width: 60%;
  height: 200px;
}
.info-delivery {
  display: flex;
  flex-flow: column;
  float: right;
  width: 40%;
  padding: 0px 20px;
}
.info-user {
  background-color: white;
  padding: 10px 10px;
  display: flex;
  flex-flow: column;
}
.info-nhanhang,
.info-giaohang,
.note-tile,
.info-hinhthucTT {
  font-size: 17px;
  font-weight: 500;
  padding-bottom: 15px;
}
.info-receive,
.info-addAdress {
  display: flex;
  flex-flow: column;
  padding: 10px 10px;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  line-height: 1.5;
  border: 1px solid rgb(1, 1, 235);
  border-radius: 6px;
}
.info-addAdress {
  border: 1px solid rgb(231, 231, 231);
  padding: 20px 10px;
  width: 100%;
  cursor: pointer;
}
.info-addAdress img {
  width: 8%;
}
.info-add {
  text-align: center;
}
.info-nameUser {
  font-size: 15px;
  font-weight: 600;
}
.info-nameUser p {
  line-height: 27px;
  height: 27px;
  float: left;
}
/* .info-nameUser img {
  cursor: pointer;
  margin-left: 10px;
  width: 4%;
} */
.btn-editUser {
  margin-left: 5px;
  width: 5%;
  background-color: white;
  border: none;
}
.phone-adress {
  font-size: 15px;
  font-weight: 400;
}

.info-PTgiaohang {
  padding-bottom: 30px;
}
.txt-ship {
  width: auto;
}
.form-check p,
.TT-defaul,
.TT-card {
  font-size: 15px;
}
.info-note {
  padding-bottom: 30px;
}
.check-giaohang {
  margin-top: 0 !important;
  float: left;
  margin-right: 10px !important;
}
.info-PTthanhtoan {
}
.form-checkTT {
  padding-bottom: 10px;
}
.check-TT {
  margin-top: 0 !important;
  float: left;
}
.TT-defaul,
.TT-card {
  padding-left: 25px;
}
.info-tile {
  padding-bottom: 10px;
  width: 100%;
  height: auto;
}
.info-tile p {
  font-size: 20px;
  font-weight: 500;
  float: left;
}
.info-editcart {
  font-size: 15px;
  padding-top: 4px;
  float: right;
  color: blue;
  cursor: pointer;
}
.info-pro {
  padding: 10px 20px;
  background-color: white;
  display: flex;
  flex-flow: column;
}
.info-detailPro {
  display: flex;
  flex-flow: row;
  padding-bottom: 10px;
}
.img-pros {
  width: 20%;
}
.img-pros img {
  border: 1px solid rgb(223, 223, 223);
  border-radius: 5px;
  width: 100%;
}
.detail-pros {
  line-height: 1.3;
  padding-left: 10px;
  width: 80%;
}
.pay-order {
  padding: 10px 20px;

  margin-top: 15px !important;
  float: right;
  width: 100%;
  background-color: white;
}
.pay-orders {
  padding-top: 0 !important;
}
.formAddAdress {
  display: flex !important;
  width: 100%;
}
.detail-name {
  font-weight: 400;
  font-size: 12px;
}
.detail-price {
  font-weight: bold;
}
.ships {
  padding-bottom: 5px;
  float: right !important;
  color: red;
  font-size: 17px;
  font-weight: bold;

  text-align: right;
}
.btn-formEdit {
  height: 40px;
}
.title-formEdit {
  padding: 10px 10px;
  font-size: 20px;
  font-weight: bold;
}
.form-edit {
  padding: 0 10px 10px 10px;
}
.form-email {
  display: flex;
  flex-flow: row;
}
.formEdit {
  width: 100%;
}
.form-phone,
.form-editemail {
  width: 50%;
}
.text-title {
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 5px;
}
.form-editName,
.form-email,
.form-diachi {
  padding-bottom: 10px;
}
.form-editemail {
  margin-left: 5px;
}
.addSdtAddress {
  color: red;
  font-size: 17px;
  font-weight: bold;
  padding-bottom: 10px;
}
