.panel-pc {
  width: 83%;
  margin: 30px auto;
  max-width: 1300px;
}
.pc-item {
  padding: 7px 7px;
  border-bottom: 0.1px solid rgb(176, 176, 177);
  height: 410px;
}
.pc-infor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.pc-image-img {
  width: 100%;
  height: auto;
  max-width: 100%;
  transform: scale(80%);
}
.pc-id {
  font-size: 13px;
  padding: 5px 20px;
  text-align: left;
}
.pc-name {
  margin-top: 15px;
  font-size: 1.4rem;
  line-height: 1.4;
  padding: 0 15px;
  text-align: left;
  height: 35px;
  margin: 25px 0;
  overflow: hidden;
  color: rgb(70, 69, 69);
}
.pc-name:hover {
  color: rgb(216, 10, 10);
}
.pc-price {
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
}
.pc-price-value {
  margin-top: 7px;
  font-size: 16px;
  color: rgb(216, 10, 10);
  font-weight: 500;
}
