.admin {
  width: 100%;
  height: 100%;
  display: flex;
}
.admin-page-logo {
  width: 100%;
  height: 150px;
}
.admin-tabs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 4%;
  background-color: #596ce5;
  transition: 0.2s;
}
.admin-tabs-top {
  display: flex;
  flex-direction: column;
}
.admin-tabs-bottom {
  display: flex;
  flex-direction: column;
}
.admin-tab {
  width: 100%;
  display: flex;
  padding: 15px 0 15px 0;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 15px;
}
.admin-tab-icon {
  font-size: 20px !important;
  cursor: pointer;
}
.admin-pages {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #e6e4e4;
}
.admin-pages-header {
  width: 100%;
  height: 10%;
  display: flex;
  padding-right: 50px;
  flex-direction: row-reverse;
  align-items: center;
}
.admin-pages-main {
  height: 100%;
  width: 100%;
}
.admin-header-item {
  display: flex;
  height: 40px;
  align-items: center;
  color: #525050;
  font-size: 14px;
  font-weight: 500;
  margin: 0 7px;
}
.user-header-drop {
  margin-left: 5px;
}
.user-header-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}
.admin-logout {
  font-size: 14px;
  font-weight: 500;
}
.admin-logout-icon {
  font-size: 25px;
}
